@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Cairo", sans-serif;
}

:root {
  --colormain: #1abbcd;
  --colortext: #434e56;
}
